html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  position: relative;
  margin: 0; /* removes browser defaults */
  padding: 0; /* removes browser defaults */
  padding-bottom: 2rem;
  min-height: 97.2%;
  background-color: #87CEEB; /* color == skyblue */
  font-family: 'Marmelad', sans-serif;
}
header, h1, h2, h3 {
  font-family: 'Merienda', cursive;
}
.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0; 
}
.hidden:focus {
  left: 0;
}
h1 {
  text-align: center;
}
h2 {
  padding-left: 4rem;
}
.menu ul {
  list-style-type: none; /* removes bullet points */
  overflow: hidden;
  background-color: #4682B4; /* color == steelblue */
}
.menu li {
  float: left; /* alignment of nav li */
  border-right: 1px solid grey; /* line between nav li */
}
.menu li:last-child {
  border-right: none; /* removes left border on last li */
}
.menu li:first-child {
  margin-left: 1rem; /* adding some spacing */
}
.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.menu li a:hover:not(.active) { /* changes link color on hover only for non-active li */
  background-color: purple;
}
.active {
  background-color: #4169E1; /* active page == royalblue */
}
#project-list section {
  max-width: 25rem;
  height: 32rem;
  background-color: #008B8B; /* section bg color == darkcyan */
  margin: 0 1rem 2rem 1rem; /* spacing between sections */
  border-radius: 5px;
  padding-left: 5px;
  padding-bottom: 1px;
}
.buttons {
  display: inline-block;
  border-radius: 5px; /* rounded corners */
  background-color: #4682B4;
  border: solid 1px black;
  color: black;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  padding: 16px;
  width: 19rem;
  transition: all 0.5s;
  cursor: pointer; /* change the cursor */
  margin: 0.5rem;
  box-shadow: 0 9px #4169e1;
}
.buttons span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 200ms;
}
.buttons span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.buttons:hover span {
  padding-right: 25px;
  font-weight: bold;
}
.buttons:hover span:after {
  opacity: 1;
  right: 0;
}
button:active {
  background-color: #4169e1;
  box-shadow: 0 5px blue;
  transform: translateY(4px);
  color: whitesmoke;
  font-weight: bold;
  transition-duration: 200ms;
}
#project-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
}
#project-list > h2 {
  flex: 0 0 100%; /* don't grow, don't shrink, be 100% wide at start */
  text-align: left;
  margin-top: 0;
  margin-bottom: 1rem;
}
h3 {
  text-align: left;
  padding-left: 1rem;
  margin: 0.5rem 0;
}
#project-list img {
  border: 2px solid #191970; /* img border color == midnightblue */
  border-radius: 5px; /* img rounded corners */
}
#contacts a:link {
  color: #F5F5F5; /* color == whitesmoke */
  text-decoration: none; /* no underline for links */
}
#contacts a:visited, .fa:visited {
  color: #00FF7F; /* color == springgreen */
}
#contacts a:hover, .fa:hover {
  text-decoration: underline; /* shows underline on hover */
  color: purple;
}
#home-footer, #about-footer, #contact-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5%;
}
footer {
  background-color: #4682B4; /* color == steelblue */
  color: white;
}
#about-me p {
  word-wrap: normal; /* wraps text without breaking words */
  width: 90%;
  padding-left: 5rem;
}
#contact fieldset {
  margin: 5px 4rem;
  width: 50rem;
  background-color: #008B8B;
  border: 2px solid #191970;
  border-radius: 5px;
}
#contact input {
  margin: 5px 0;
}
#contact input[type=submit], #contact input[type=reset] {
  margin-left: 5rem;
  margin-bottom: 2rem;
}
#contact legend {
  background-color: #4682B4;
  color: white;
  padding: 5px 10px;
  border: 1px solid #191970;
  border-radius: 5px;
}
#contact input[type=text], input[type=email], input[type=tel] {
  border-radius: 5px;
}
#contact input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus {
  background-color: #87CEEB;
}
footer ul {
  list-style-type: none;
  padding: 0.5em;
  margin: 0;
}
#contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
